*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  background: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

.container {
  max-width: 102.4rem;
  background: #f6f6f6;
  /* padding: 7rem 3rem; */
  height: 100%;
  margin: 0 auto;
}

.header {
  background: #777777;
  padding: 1.7rem 3.5rem;
}
.grid-wrapper {
  padding: 3rem;
}
.grid {
  border: 1px solid #cccccc;
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -3rem;
}
.card {
  max-width: 28rem;
  width: 100%;
  background: white;
  padding: 3rem;
  margin: 1.5rem 0;
}

.card-image {
  display:block;
  /* width: 100%; */
  max-height: 20rem;
  height: 100%;

  margin: 0 auto;

}

.filter-wrapper {
  padding: 1rem 3rem;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filters {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
  flex: 1 1 50%;
  max-width: 50%;
  width: 100%;
}
.filter__inner:nth-child(1) {
  margin-right: 2rem;
}
.filter_label {
  margin-right: 1rem;
}